<!--connect.html-->
<div class="section-connect" id="connect">

    <div class="row">
        <div class="u-center-text">
            <h1 class="heading-primary-title--golden">
                Contact & Connect
            </h1>
        </div>
    </div>

    <div class="connect">
        <div class="row">
            <div class="col-1-of-2">
                {{ template "contact.html" .}}
            </div>
            <div class="col-1-of-2">

            </div>
        </div>

    </div>
</div>