<!--contact.html-->
<div id="contact"></div>
<div class="connect-form">
    <p> Address: <textarea class="form-input" placeholder="129/19 Moo 1, Bophut, Koh Samui, Surat Thani, Thailand 84320"
            rows="3" disabled></textarea>
    </p>
    Mobile: <input type="text" class="form-input" placeholder="+669-0940-0068" disabled></input>
    Mobile: <input type="text" class="form-input" placeholder="+669-8719-5361" disabled></input>
    Email: <input type="text" class="form-input" placeholder="samuibirdsnest@gmail.com" disabled></input>
    </p>
</div>