<!--footer.html-->
<div class="footer">
    <div class="row">
        <div class="footer-logo-box">
            <img src="/assets/img/logo-circle.png" class="footer-logo" alt="Samui Birds Nest Logo">
        </div>
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <div class="footer-navigation">
                <ul class="footer-navigation-list">
                    <li class="footer-navigation-item"><a href="#home" class="footer-navigation-link">Home</a></li>
                    <li class="footer-navigation-item"><a href="#about" class="footer-navigation-link">About Us</a></li>
                    <li class="footer-navigation-item"><a href="#product" class="footer-navigation-link">Product</a>
                    </li>
                    <li class="footer-navigation-item"><a href="#blog" class="footer-navigation-link">Blog</a>
                    </li>
                    <li class="footer-navigation-item"><a href="#maps" class="footer-navigation-link">Maps</a>
                    </li>
                    <li class="footer-navigation-item"><a href="#contact" class="footer-navigation-link">Contact
                            Us</a></li>
                    <li class="footer-navigation-item"><a href="#contact" class="footer-navigation-link">Term &
                            Privacy</a></li>
                </ul>
            </div>
        </div>
        <div class="col-1-of-2">
            <div class="footer-copyright">

                Copyright &copy; Samui Birds Nest All identities, contents, images and design is reserved.

                <p>
                    Samui Birds Nest 129/9 Moo 1, Bophut, Koh Samui, Surat Thani, Thailand 84320
                </p>


            </div>
        </div>
    </div>
</div>