<!--popup.html-->
<div class="popup">
    <div class="popup-content">
        <div class="popup-left">
            <img src="/assets/img/nat-2.jpg" alt="Popup Image" class="popup-img">
            <img src="/assets/img/nat-3.jpg" alt="Popup Image" class="popup-img">
        </div>
        <div class="popup-right">
            <h2 class="heading-primary-title-sub--golden u-pb-sm">
                Contact & Social Info
            </h2>
            <div class="popup-text">

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus neque expedita necessitatibus
                    quidem sint, culpa fuga ad. Dolores voluptatem alias, unde molestias provident sit, impedit
                    temporibus doloremque officia harum pariatur!

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est molestiae doloribus culpa odit
                    ipsum, rerum officia iste nam perferendis quisquam dolores sapiente nihil error necessitatibus
                    corporis minima esse blanditiis aliquam.
                </p>

            </div>
            <a href="#" class="btn btn--gold">Discover More</a>
        </div>
    </div>
</div>