<!--product-list.html-->
<div id="product">

</div>
<div class="row">
    <div class="col-1-of-3">
        <div class="feature-box">
            <div class="feature-box-icon u-pb-md">
                <i class="icon-basic-world"></i>
            </div>
            <div class="feature-box-text">
                <h3 class="heading-tertiary u-mb-md">
                    product 1
                </h3>
                consectetur adipisicing elit. Facere, expedita. Ut explicabo iusto

            </div>
            <div class="feature-box-price u-mt-md">
                12000
            </div>
            <div class="feature-box-action u-mb-md">
                order now
            </div>
        </div>
    </div>
    <div class="col-1-of-3">
        <div class="feature-box">
            <div class="feature-box-icon u-pb-md">
                <i class="icon-basic-world"></i>
            </div>
            <div class="feature-box-text">
                <h3 class="heading-tertiary u-mb-md">
                    product 1
                </h3>
                consectetur adipisicing elit. Facere, expedita. Ut explicabo iusto

            </div>
            <div class="feature-box-price u-mt-md">
                12000
            </div>
            <div class="feature-box-action u-mb-md">
                order now
            </div>
        </div>
    </div>
    <div class="col-1-of-3">
        <div class="feature-box">
            <div class="feature-box-icon u-pb-md">
                <i class="icon-basic-world"></i>
            </div>
            <div class="feature-box-text">
                <h3 class="heading-tertiary u-mb-md">
                    product 1
                </h3>
                consectetur adipisicing elit. Facere, expedita. Ut explicabo iusto

            </div>
            <div class="feature-box-price u-mt-md">
                12000
            </div>
            <div class="feature-box-action u-mb-md">
                order now
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-1-of-3">
        <div class="feature-box">
            <div class="feature-box-icon u-pb-md">
                <i class="icon-basic-world"></i>
            </div>
            <div class="feature-box-text">
                <h3 class="heading-tertiary u-mb-md">
                    product 1
                </h3>
                consectetur adipisicing elit. Facere, expedita. Ut explicabo iusto

            </div>
            <div class="feature-box-price u-mt-md">
                12000
            </div>
            <div class="feature-box-action u-mb-md">
                order now
            </div>
        </div>
    </div>
    <div class="col-1-of-3">
        <div class="feature-box">
            <div class="feature-box-icon u-pb-md">
                <i class="icon-basic-world"></i>
            </div>
            <div class="feature-box-text">
                <h3 class="heading-tertiary u-mb-md">
                    product 1
                </h3>
                consectetur adipisicing elit. Facere, expedita. Ut explicabo iusto

            </div>
            <div class="feature-box-price u-mt-md">
                12000
            </div>
            <div class="feature-box-action u-mb-md">
                order now
            </div>
        </div>
    </div>
    <div class="col-1-of-3">
        <div class="feature-box">
            <div class="feature-box-icon u-pb-md">
                <i class="icon-basic-world"></i>
            </div>
            <div class="feature-box-text">
                <h3 class="heading-tertiary u-mb-md">
                    product 1
                </h3>
                consectetur adipisicing elit. Facere, expedita. Ut explicabo iusto

            </div>
            <div class="feature-box-price u-mt-md">
                12000
            </div>
            <div class="feature-box-action u-mb-md">
                order now
            </div>
        </div>
    </div>
</div>