<!--social.html-->
<div class="section-social" id="contact-us">
    <div class="row">
        <div class="u-center-text u-mb-8">
            <h1 class="heading-primary-title--golden">
                Contact & Connect
            </h1>
        </div>
    </div>
    <div class="social">
        <div class="row">
            <div class="col-1-of-2">
                <div class="social-title">
                    Connect Us
                </div>
            </div>
            <div class="col-1-of-2">
                <div class="social-icons">
                    <i class="icon-basic-alarm"></i>
                </div>
                <div class="social-icons">
                    <i class="icon-basic-anchor"></i>
                </div>
            </div>
        </div>
    </div>
</div>