<!--about.html-->
<div class="section-about" id="about">
    <div class="u-center-text u-pt-lg u-pb-lg">
        <h1 class="heading-primary-title--golden">
            Our Story
        </h1>
        <h2 class="heading-primary-title-sub--golden">
            it's our destiny
        </h2>
    </div>

    <div class="row">
        <div class="col-1-of-2">
            <h3 class="heading-tertiary u-mb-sm">
                กว่าจะมาเป็น Golden Samui Bird’s Nest
            </h3>
            <p class="paragraph">
                ประวัติการกินรังนกของคนจีนสืบทอดกันมาเป็นเวลากว่าพันปีจากรุ่นสู่รุ่น
                เหมือนกบั ครอบครัวของเราท่อีพยพครอบครัวจากเมืองจีนมาสู่ประเทศไทย
                สมัยเด็กๆแม่เคยเล่าให้ฟังว่าอากงกับอาม่า ตุ๋นรังนกให้กินเป็นประจำทุกวัน เรียก
                ได้ว่าเป็นอาหารประจำบ้านก็เป็นได้ รังนกเป็นอาหารชั้นเลิศมีสรรพคุณทางยาที่ดีีมากๆ ต่อร่างกาย
                จนผ่านกาลเวลามาจนถึงรุ่นพวกเรา แม่ก็ยังตุ๋นรังนกให้เรากินเป็นประจำ จากรุ่นสู่รุ่น
                แม่สลับเปล่ียนหมุนเวียนสูตรรังนกให้เราทานอยู่เรื่อยๆ บางวันเติมใบเตย บางวัน
                เติมโสมจีน บางวันเติมลำไยอบแห้งบ้าง พุทราจีนบ้าง บางครั้งก็ไม่เติมอะไรเลย แต่
                รสชาติยังคงอร่อย ให้รสสัมผัสที่ดีีมากๆ จนลูกๆทุกคนติดใจฝีมือคุณ แม่มากๆ เรียกได้ว่า
                คุณแม่เป็นสุดยอดเชฟตุ๋นรังนกของลูกๆก็ว่าได้


            </p>

            <h3 class="heading-tertiary u-mb-sm">
                Golden Samui Bird’s Nest
            </h3>
            <p class="paragraph">
                ย้อนไปเมื่อ 15 ที่แล้ว เช้าวันหนึ่งเกิดปรากฏการณ์มีนกนางแอ่นมาบินเล่นรอบๆบ้าน
                จำนวนมาก พ่อและแม่ได้เรียกให้เราขึ้นไปดูบนดาดฟ้าและได้แต่ถามว่านกนี้มาจาก
                ไหนทำไมมันถึงได้มาบินรอบๆ บ้านของเรา มันต้องการหาที่ทำรัง และหาที่อยู่แน่ๆ
                เลย เราจึงเกิดมีความคิดว่า เราน่าจะสร้างที่ใีห้นกนางแอ่นอาศัย หลังจากนั้นจึงได้
                ตัดสินใจศึกษาหาความรู้เกี่ยวกับการสร้างบ้านนกนางแอ่น วิธีการดูแลนกนางแอ่น และ
                การดูแลเรื่องคุณภาพ ให้มีความขาวสะอาด ขนาดได้มาตรฐาน จึงได้ไปเรียน
                หลักสูตรการสร้างบ้านนกและคุณภาพรังนกที่ประเทศมาเลเซีย และได้นำความรู้ท่ี
                ได้มาปรับใช้ นับจากวันนั้นจนถึงวันนี้ผ่านมาแล้วถึง 15 ปีเราก็ประสบความสำเร็จ
                มีบ้านนกเป็นของตัวเอง บ้านนกที่มีีคุณภาพ ได้ขายรังนกดิบออกสู่ตลาด จนเราได้
                พัฒนา เพิ่มมูลค่าให้รังนกที่ไีม่ใช่แค่รังนกดิบออกสู่ตลาด แต่เราได้เพิ่มมูลค่าให้กับ
                รังนก โดยแปรรูปรังนกโดยผ่านกระบวนการล้างทำความสะอาดรังนกหลากหลายแบบ
                และทำออกมาเป็นรังนกพร้อมดื่มออกสู่ตลาด ให้ได้รู้จักรังนกที่มีีคุณภาพ ปลอดภัย
                ไร้สารเคมี ภายใต้แบรนด์ Golden Samui Bird’s Nest
            </p>
            <!-- <a href="#" class="btn-text">Learn More &rarr;</a> -->
        </div>

        <div class="col-1-of-2">
            <div class="composition">
                <img src="./../../assets/img/samui-birds-nest-bg-bl-02-02.png" alt="photo 1"
                    class="composition-photo composition-photo-p1">
                <img src="./../../assets/img/samui-birds-nest-for-about.png" alt="photo 2"
                    class="composition-photo composition-photo-p2">
                <img src="./../../assets/img/samui-birds-nest-ingredient.jpg" alt="photo 3"
                    class="composition-photo composition-photo-p3">
            </div>
        </div>

    </div>
</div>