<!--about.html-->
<div class="section-about">
    <div class="u-center-text u-pt-lg u-pb-lg">
        <h1 class="heading-primary-title--golden">
            Our Story
        </h1>
        <h2 class="heading-primary-title-sub--golden">
            it's our destiny
        </h2>
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <div class="heading-tertiary u-mb-sm">
                Yuor healthy is importance
            </div>
            <p class="paragraph">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste ad itaque accusantium recusandae
                voluptatem
                sint animi id obcaecati eaque ab veritatis labore, quo culpa magni necessitatibus reiciendis adipisci
                autem.
                Dicta.
            </p>

            <div class="heading-tertiary u-mb-sm">
                Yuor healthy is importance
            </div>
            <p class="paragraph">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste ad itaque accusantium recusandae
                voluptatem
                sint animi id obcaecati eaque ab veritatis labore, quo culpa magni necessitatibus reiciendis adipisci
                autem.
                Dicta.
            </p>
            <a href="#" class="btn-text">Learn More &rarr;</a>
        </div>

        <div class="col-1-of-2">
            <div class="composition">
                <img src="./../../assets/img/samui-birds-nest-bg-bl-02-02.png" alt="photo 1"
                    class="composition-photo composition-photo-p1">
                <img src="./../../assets/img/nat-2-large.jpg" alt="photo 2"
                    class="composition-photo composition-photo-p2">
                <img src="./../../assets/img/samui-birds-nest-ingredient.jpg" alt="photo 3"
                    class="composition-photo composition-photo-p3">
            </div>
        </div>

    </div>
</div>