<!--product.html-->
<section class="section-product" id="product">
    <div class="product-banner">
        <div class="u-center-text u-mb-8">
            <h1 class="heading-primary-title--golden">
                Product
            </h1>
            <h2 class="heading-primary-title-sub--golden">
                Price & Quality you can trust
            </h2>
        </div>
    </div>
    <div class="product-list">
        <div class="row">
            <div class="u-center-text u-mb-8">
                <h1 class="heading-primary-title--golden">
                    กว่าจะมาเป็น สมุยรังนกทอง
                </h1>
                <h2 class="heading-primary-title-sub--golden">
                    เราใส่ใจทุกรายละเอียด และพิถีพิถันในการคัดสรร จนส่งถึงมือคุณ
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-1-of-3">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <!-- <i class="icon-basic-world"></i> -->
                        <div class="feature-box-number">1.</div>
                    </div>
                    <div class="feature-box-text">
                        <h3 class="heading-tertiary u-pb-sm">
                            คัดแยก
                        </h3>
                        เราคัดแยกรังนกก่อนเข้าสู่กระบวนการทำความสะอาด

                    </div>
                </div>
            </div>
            <div class="col-1-of-3">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <!-- <i class="icon-basic-map"></i> -->
                        <div class="feature-box-number">2.</div>
                    </div>
                    <div class="feature-box-text">
                        <h3 class="heading-tertiary u-pb-sm">
                            ปลอดภัย
                        </h3>
                        ผ่านการฆ่าเชื้อและทำความสะอาด ด้วยน้ำสะอาดทุกครั้ง

                    </div>
                </div>
            </div>
            <div class="col-1-of-3">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <!-- <i class="icon-basic-compass"></i> -->
                        <div class="feature-box-number">3.</div>
                    </div>
                    <div class="feature-box-text">
                        <h3 class="heading-tertiary u-pb-sm">
                            ใส่ใจ
                        </h3>
                        เราคัดแยกและกำจัดขนอย่างละเอียดอ่อนรังต่อรังด้วยความใส่ใจ

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-1-of-3">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <!-- <i class="icon-basic-heart"></i> -->
                        <div class="feature-box-number">4.</div>
                    </div>
                    <div class="feature-box-text">
                        <h3 class="heading-tertiary u-pb-sm">
                            ควบคุม
                        </h3>
                        ตากในห้องที่ปราศากเชื้อรอจนแห้งสนิท

                    </div>
                </div>
            </div>

            <div class="col-1-of-3">
                <div class="feature-box">
                    <div class="feature-box-icon">
                        <!-- <i class="icon-basic-heart"></i> -->
                        <div class="feature-box-number">5.</div>
                    </div>
                    <div class="feature-box-text">
                        <h3 class="heading-tertiary u-pb-sm">
                            พิถีพิถัน
                        </h3>
                        คัดแยกเกรดและบรรจุผลิตภัณฑ์

                    </div>
                </div>
            </div>

            <div class="col-1-of-3">

            </div>
        </div>
    </div>

    <div class="product-price">
        <div class="row">
            <div class="u-center-text u-mb-8">
                <h1 class="heading-primary-title--golden">
                    สินค้าและราคา
                </h1>
                <h2 class="heading-primary-title-sub--golden">
                    เรายินดีรับฟังทุกข้อเสนอ และ ทุกความต้องการของคุณเสมอ
            </div>
        </div>
        {{ template "product-list.html" .}}
    </div>



</section>