{{ template "layout-header.html" .}}
<main>
    <div class="header">
        <div class="header__logo-box">
            <img src="./../../assets/img/samui-birds-nest-logo.png" class="header__logo" alt="samui birds nest logo">
        </div>
        <div class="header__text-box">
            <div class="heading-primary">
                <div class="heading-primary--main">Samui Bird's Nest</div>
                <div class="heading-primary--sub">Thailand Quality Bird's Nest</div>
            </div>

            <a href="#" class="btn btn--white">Discover More</a>
        </div>
        <!-- <div class="header-bottom">
        <img src="./../../assets/img/samui-birds-nest-logo.png" class="logo" alt="Logo">
    </div> -->
    </div>
    {{ template "about.html" .}}
    {{ template "product.html" .}}

</main>
{{ template "social.html" .}}
{{ template "maps.html" .}}

{{ template "layout-footer.html" .}}