/*
COLORS:
red: #dd1c1d
Golden Dark: #daa42a
Golden Light: #ffe327

*/

$color-primary-red: #dd1c1d;
$color-primary-gold-dark: #daa42a;
$color-primary-yellow-light: #ffe327;
$color-grey: #777;
$color-grey-light: #999;
$color-white: #fff;
$color-black: #000;